* {
    margin: 0;
    box-sizing: border-box;
    color: #111;
    font: 16pt sans-serif;
}

html, body {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}

body {
    display: flex;
    justify-content: center;
    background: #eee;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #ccc;
    padding: 1ch;
}

footer {
    background: #ccc;
    padding: 1ch;
}

section {
    padding: 2ch;
    flex: 1 1 auto;
}

ul {
    list-style: none;
    padding: 0;
}

.content {
    width: 90ch;
    background: #ddd;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration-line: none;
}

p {
    margin-top: 1ch;
}

h3 {
    margin-top: 1ch;
    font-weight: lighter;
}
.search-image {
    min-height: 10ch;
    min-width: 10ch;
    background-size: cover;
}

.main-image {
    min-height: 30ch;
    min-width: 30ch;
    width: 30ch;
    height: 30ch;
    background-size: cover;
}

.search-row {
    display: flex;
    align-items: center;
    margin-bottom: 1ch;
}

.search-results > li:nth-child(even) {
    background: #eee;
}

.search-text {
    padding-left: 2ch;
    display: flex;
    flex-flow: column;
}

.bold {
    font-weight: bold;
}

.light {
    font-weight: lighter;
}

.subtext {
    margin-top: 1ch;
    font-size: 12pt;
}

.columns {
    display: flex;
}

.rows {
    display: flex;
    flex-direction: column;
}

.details-text {
    flex: 1 1 auto;
    margin: 5ch;
}

.right-margin {
    margin-right: 2ch;
}

.big-text {
    font-size: 24pt;
}

.bigger-text {
    font-size: 36pt;
}

hr {
    margin-bottom: 2ch;
}

.row-names > span {
    font-size: 12pt;
    font-weight: lighter;
}

.row-values > span {
    font-size: 12pt;
    text-overflow: ellipsis;
}

.row-values > span::after {
    content: "\00a0";
}

.footer-text {
    font-size: 10pt;
}

.footer-text > a {
    font-size: 10pt;
}

footer {
    display: flex;
    flex-direction: row-reverse;
}

.show-link-line {
    text-decoration-line: underline;
}

.vibe-list {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
}

.vibe-list > li::after {
    content: ",\00a0";
}

.vibe-list > li:last-child::after {
    content: "";
}

.tracklist {
    height: 6ch;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding-left: 0;
}

.tracklist > * {
    font-size: 12pt;
    
}

.find-similar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3ch;
}