<!DOCTYPE html>
<a href="/">back</a>
<div style="display: flex;">
    <div>
        {% if main_type == "movie" %}
        <p>{{ primary.title }} ({{ primary.year }})</p>
        <p>Rated {{ primary.rating }}</p>
        <p>Genre: {{ primary.genres }}</p>
        <p>Runtime: {{ primary.runtime }}</p>
        {% else %}
        <p>{{ primary.artist }} - {{ primary.title }}</p>
        <ol>
            {% for track in primary.tracklist %}
            <li>{{ track.title }} - {{ track.duration }}</li>
            {% endfor %}
        </ol>
        {% endif %}
        <img src="{{ primary.image_url }}" alt="">
    </div>
    <form action="/{{ main_type }}/{{ primary.id }}" method="post">
        <input name="vibe">
        <input name="related_id" value="{{ related.id }}" hidden>
        <input name="type" value="{{ type }}" hidden>
        <button>What's the vibe?</button>
    </form>
    <div>
        {% if type == "movie" %}
        <p>{{ related.title }} ({{ related.year }})</p>
        <p>Rated {{ related.rating }}</p>
        <p>Genre: {{ related.genres }}</p>
        <p>Runtime: {{ related.runtime }}</p>
        {% else %}
        <p>{{ related.artist }} - {{ related.title }}</p>
        <ol>
            {% for track in related.tracklist %}
            <li>{{ track.title }} - {{ track.duration }}</li>
            {% endfor %}
        </ol>
        {% endif %}
        <img src="{{ related.image_url }}" alt="">
    </div>
</div>