{% import "generics.html" as generics %}

<!DOCTYPE html>
<title>Same Vibe</title>
<link rel="stylesheet" href="/static/style.css">
<link rel="icon" href="/static/images/favicon.png" type="image/x-icon">
<meta name="viewport" content="width=device-width, initial-scale=1">

<div class="content">
    <nav>
        <a href="/" class="title-link">
            <div class="logo" style="background-image:  url('/static/images/favicon.png');"></div>
            <h1>Same Vibe</h1>
        </a>
        <form action="/search" method="get">
            {{ generics.search_bar("Search", search_value, search_type) }}
        </form>
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <span class="footer-text">
            Comments, questions, concerns, or just feeling chatty? <a href="mailto:zak@samevi.be">Shoot me an email at
                zak@samevi.be.</a>
        </span>
    </footer>
</div>