{% import "generics.html" as generics %}

{% extends 'base.html' %}

{% block content %}
{% if main_type == "movie" %}
{{ generics.movie(data, vibes) }}
{% elif main_type == "game" %}
{{ generics.game(data, vibes) }}
{% elif main_type == "book" %}
{{ generics.book(data, vibes) }}
{% else %}
{{ generics.album(data, vibes) }}
{% endif %}

<div class="find-similar">
    <p>Think of anything similar?</p>
    <form action="" method="get">
        {{ generics.search_bar("Search", subsearch_text, type) }}
    </form>
    {% if results %}
    <p>Pick one below.</p>
    {% endif %}
</div>
{% if results %}
<ul class="search-results">
    {% for result in results %}
    <li>
        <a href="/{{ main_type }}/{{ id }}/connect/{{ type }}/{{ result.id }}" class="search-row">
            <div class="search-image" style="background-image:  url('{{ result.image_url }}');"></div>
            <div class="search-text">
                <span class="bold">{{ result.title }} <span class="light">({{ result.year }})</span></span>
                <span>{{ result.creator }}</span>
                <span class="subtext">{{ result.genre }}</span>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endif %}

{% if notification and notification == "subscribed" %}
<div class="notification">
    ⓘ Subscribed!
</div>
{% endif %}
{% endblock %}