{% macro search_bar(submit_button="Search", search_value="", selected_type="album") %}
<input name="q" value="{{ search_value }}">
<select name="type" id="type-selector">
    {% if selected_type == "album" %}
    <option value="album" selected>Album</option>
    {% else %}
    <option value="album">Album</option>
    {% endif %}

    {% if selected_type == "movie" %}
    <option value="movie" selected>Movie</option>
    {% else %}
    <option value="movie">Movie</option>
    {% endif %}

    {% if selected_type == "game" %}
    <option value="game" selected>Game</option>
    {% else %}
    <option value="game">Game</option>
    {% endif %}

    {% if selected_type == "book" %}
    <option value="book" selected>Book</option>
    {% else %}
    <option value="book">Book</option>
    {% endif %}
</select>
<button>{{ submit_button }}</button>
{% endmacro %}

{% macro movie(data) %}
<div class="details-content columns">
    <div>
        <div class="main-image" style="background-image:  url('{{ data.image_url }}');"></div>
    </div>
    <div class="details-text">
        <h2 class="big-text">{{ data.title }}</h2>
        <hr>
        <div class="columns">
            <div class="rows right-margin row-names">
                <span>Release</span>
                <span>Rating</span>
                <span>Runtime</span>
                <span>Genres</span>
            </div>
            <div class="rows row-values">
                <span>{{ data.year }}</span>
                <span>{{ data.rating }}</span>
                <span>{{ data.runtime }}</span>
                <span>{{ data.genres }}</span>
            </div>
        </div>
        <div class="rows">
            <h3>Top Vibes</h3>
            {% if vibes|length == 0 %}
            <span>No vibes yet... add some!</span>
            {% endif %}
            <ol class="vibe-list">
                {% for vibe in vibes %}
                <li>{{ vibe.name }} ({{ vibe.count }})</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endmacro %}

{% macro album(data, vibes=[]) %}
<div class="details-content columns">
    <div>
        <div class="main-image" style="background-image:  url('{{ data.image_url }}');"></div>
    </div>
    <div class="details-text">
        <h2 class="big-text">{{ data.title }}</h2>
        <hr>
        <div class="columns">
            <div class="rows right-margin row-names">
                <span>Artist</span>
                <span>Release</span>
                <span>Genres</span>
                <span>Tracklist</span>
            </div>
            <div class="rows row-values">
                <span>{{ data.artist }}</span>
                <span>{{ data.year }}</span>
                <span>{{ data.genre }}</span>
                <span>
                    <ol class="tracklist">
                        {% for track in data.tracklist %}
                        <li>{{ track.title }}
                            {% if track.duration %}
                            - {{ track.duration}}
                            {% endif %}
                        </li>
                        {% endfor %}
                    </ol>
                </span>
            </div>
        </div>
        <div class="rows">
            <h3>Top Vibes</h3>
            {% if vibes|length == 0 %}
            <span>No vibes yet... add some!</span>
            {% endif %}
            <ol class="vibe-list">
                {% for vibe in vibes %}
                <li>{{ vibe.name }} ({{ vibe.count }})</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</div>
{% endmacro %}

{% macro game(data) %}
<p>{{ data.title }} ({{ data.year }})</p>
<p>Genre: {{ data.genres }}</p>
{% endmacro %}

{% macro book(data) %}
<p>{{ data.title }} - {{ data.author }}</p>
<p>Published: {{ data.year }}</p>
<p>{{ data.description }}</p>
{% endmacro %}