{% macro search_bar(submit_button="Search", search_value="") %}
<input name="q" value="{{ search_value }}">
<select name="type" id="type-selector">
    <option value="album">Album</option>
    <option value="movie">Movie</option>
    <option value="game">Game</option>
    <option value="book">Book</option>
</select>
<button>{{ submit_button }}</button>
{% endmacro %}

{% macro movie(data) %}
<p>{{ data.title }} ({{ data.year }})</p>
<p>Rated {{ data.rating }}</p>
<p>Genre: {{ data.genres }}</p>
<p>Runtime: {{ data.runtime }}</p>
{% endmacro %}

{% macro album(data) %}
<p>{{ data.artist }} - {{ data.title }}</p>
<ol>
    {% for track in data.tracklist %}
    <li>{{ track.title }} - {{ track.duration }}</li>
    {% endfor %}
</ol>
{% endmacro %}

{% macro game(data) %}
<p>{{ data.title }} ({{ data.year }})</p>
<p>Genre: {{ data.genres }}</p>
{% endmacro %}

{% macro book(data) %}
<p>{{ data.title }} - {{ data.author }}</p>
<p>Published: {{ data.year }}</p>
<p>{{ data.description }}</p>
{% endmacro %}