{% import "generics.html" as generics %}

{% extends 'base.html' %}

{% block content %}
<h2 class="bigger-text">No accounts. Just vibes.</h2>
<p>If you've ever finished up a book, video game, album, or movie and wished you could find something similar, this is
    the place for you.
</p>
<p>Just type in the name of a piece of media in the search box above and get going. When you find what you're looking
    for, link it to something else by a any vibe you want. "Russian post-apocalypse", "rainy days", "trashcore", or
    "cerebral", if you can think up two pieces of media with that vibe, you can link them together.
</p>
<p>Help build a collection of cool stuff connected by all the kinds of feelings we have when we experience art.
</p>

<div class="vibe-pairs">
    {% for vibe in most_recent_vibes %}
    <div class="vibe-pair-container">
        <div style="background-image:  url('{{ vibe.primary.image_url }}');"><a
                href="/{{ vibe.primary.type }}/{{ vibe.primary.id }}/connect/{{ vibe.related.type }}/{{ vibe.related.id }}"></a>
        </div>
        <div style="background-image:  url('{{ vibe.related.image_url }}');"><a
                href="/{{ vibe.related.type }}/{{ vibe.related.id }}/connect/{{ vibe.primary.type }}/{{ vibe.primary.id }}"></a>
        </div>
        <span>{{ vibe.type }}</span>
    </div>
    {% endfor %}
</div>

<form action="/vibes" method="get">
    <label for="vibe-search">Looking for a vibe?</label>
    <input id="vibe-search" name="q">
    <button>Search</button>
</form>
{% endblock %}