{% extends 'base.html' %}

{% block content %}
<form action="/vibes" method="get">
    <label for="vibe-search">Looking for a vibe?</label>
    <input id="vibe-search" name="q" value="{{ vibe }}">
    <button>Search</button>
</form>

<ul class="search-results">
    {% for result in results %}
    <li>
        <a href="/{{ result.type }}/{{ result.id }}" class="search-row">
            <div class="search-image" style="background-image:  url('{{ result.image_url }}');"></div>
            <div class="search-text">
                <span class="bold">{{ result.title }} <span class="light">({{ result.year }})</span></span>
                <span>{{ result.creator }}</span>
                <span class="subtext">{{ result.genre }}</span>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}