{% import "generics.html" as generics %}

<!DOCTYPE html>
<a href="/">back</a>
<div style="display: flex;">
    <div>
        {% if main_type == "movie" %}
        {{ generics.movie(primary) }}
        {% elif main_type == "game" %}
        {{ generics.game(primary) }}
        {% elif main_type == "book" %}
        {{ generics.book(primary) }}
        {% else %}
        {{ generics.album(primary) }}
        {% endif %}
        <img src="{{ primary.image_url }}" alt="">
    </div>
    <form action="/{{ main_type }}/{{ primary.id }}" method="post">
        <input name="vibe">
        <input name="related_id" value="{{ related.id }}" hidden>
        <input name="type" value="{{ type }}" hidden>
        <button>What's the vibe?</button>
    </form>
    <div>
        {% if main_type == "movie" %}
        {{ generics.movie(related) }}
        {% elif main_type == "game" %}
        {{ generics.game(related) }}
        {% elif main_type == "book" %}
        {{ generics.book(related) }}
        {% else %}
        {{ generics.album(related) }}
        {% endif %}
        <img src="{{ related.image_url }}" alt="">
    </div>
</div>