<!DOCTYPE html>
<a href="/">back</a>
<p>{{ search }}</p>
{% if type == "movie" %}
<ul>
    {% for result in results %}
    <a href="/movie/{{ result.imdbID }}">
        <li>{{ result.Title }} ({{ result.Year }})</li>
    </a>
    {% endfor %}
</ul>
{% elif type == "game" %}
<ul>
    {% for result in results %}
    <a href="/game/{{ result.id }}">
        <li>{{ result.name }} ({{ result.released[:4] if result.released else "?" }})</li>
    </a>
    {% endfor %}
</ul>
{% elif type == "book" %}
<ul>
    {% for result in results %}
    <a href="/book/{{ result.id }}">
        <li>{{ result.volumeInfo.title }} ({% for author in result.volumeInfo.authors %}{{ author }}{{ ", " if not
            loop.last else "" }}{% endfor %}; {{ result.volumeInfo.publishedDate[:4] if
            result.volumeInfo.publishedDate else "?" }})</li>
    </a>
    {% endfor %}
</ul>
{% else %}
<ul>
    {% for result in results %}
    <a href="/album/{{ result.id }}">
        <li>{{ result.title }}</li>
    </a>
    {% endfor %}
</ul>
{% endif %}