{% extends 'base.html' %}

{% block content %}
<ul class="search-results">
    {% for result in results %}
    <li>
        <a href="/{{ search_type }}/{{ result.id }}" class="search-row">
            <div class="search-image" style="background-image:  url('{{ result.image_url }}');"></div>
            <div class="search-text">
                <span class="bold">{{ result.creator }}</span>
                <span>{{ result.title }} <span class="light">({{ result.year }})</span></span>
                <span class="subtext">{{ result.genre }}</span>
            </div>
        </a>
    </li>
    {% endfor %}
</ul>
{% endblock %}